
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    
    font-family: 'Roboto', sans-serif;
    color: #354786;
}

.products-page {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 200px;
    margin: 50px 0px 50px 0px;
    width: 100%;
    justify-content: center;
    padding-right: 150px;
    align-self: center;
}

.produtos-page {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.produtos-page img {
    width: 300px;
}

.produtos-page article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.produtos-page h3 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.produtos-page ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    padding: 0px 30px;
    gap: 5px;
}

.produtos-page li {
    font-size: 16px;
    font-weight: 500;
}

.produtos-page p {
    font-size: 30px;
    font-weight: 500;
}

.produtos-page button {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #354786;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.produtos-page button:hover {
    border-radius: 20px;
}

.produtos-page:hover {
    transform: scale(1.05);
}